<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <DxTreeView AllowSelectNodes="true" CssClass="nav-tree">
                <Nodes>
                    <DxTreeViewNode Name="employee-list" NavigateUrl="/">
                        <TextTemplate>
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                            <span>Employee List</span>
                        </TextTemplate>
                    </DxTreeViewNode>
                    <DxTreeViewNode Name="add-employee" NavigateUrl="/add">
                        <TextTemplate>
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                            <span>Add Employee</span>
                        </TextTemplate>
                    </DxTreeViewNode>
                </Nodes>
            </DxTreeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
